DB_NAME=lacarta
DB_USER=lacarta
DB_PASSWORD=cambiar-esta-clave
DB_HOST=127.0.0.1
DB_PORT=5432

POSTGRES_PASSWORD=cambiar-esta-clave
SECRET_KEY=cambiar-esta-clave

# Modo depuración: True solo en desarrollo
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin_123
DJANGO_SUPERUSER_EMAIL=admin@example.com

FLASK_PORT=8000
DJANGO_PORT=8001