<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}La Carta{% endblock %}</title> <!-- ¿esto es como declarar una variable que luego puedo inicializar en otro .html? -->
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
</head>
<body>
    <header class="cabecera">
        <a href="{{ url_for('listar_restaurantes') }}" class="marca">La Carta</a>
        <nav class="navegacion">
            <a href="{{ url_for('listar_restaurantes') }}">Restaurantes</a>
            <a href="{{ url_for('formulario_crear_restaurante') }}">Nuevo restaurante</a>
        </nav>
    </header>

    <main class="contenedor">
        {% with mensajes = get_flashed_messages(with_categories=true) %} <!-- ¿qué hace esta línea? -->
            {% if mensajes %}
                <div class="mensajes">
                    {% for categoria, mensaje in mensajes %}
                        <p class="mensaje mensaje-{{ categoria }}">{{ mensaje }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block contenido %}{% endblock %}
    </main>

    <footer class="pie">
        <p>La Carta &middot; ISW-233 Aplicaciones Web I</p>
    </footer>
</body>
</html>