<!-- html template de flask, lo mismo con django -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./static/index.css" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="#hero">inicio</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
  </nav>

  <!--hero-->
  <section>hero</section>
  <h1>hi oh my {{ name }}</h1>

  <!--contact-->
  <section>contact</section>
  
  <footer>footer</footer>
</body>
</html>